@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

html {
  background: url('../assets/Arcade\ drop.jpeg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: yellow;
  font-family: 'Rubik Microbe', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: transparent;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #ff451a;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
}

.start-button:hover {
  color: #ff5c36;
  font-size: 18px;
  border-color: #ff5c36;
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
  }

.pad-red {
  border-top-left-radius: 200px;
  background-color:#da3287;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #ff2975;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #ff5c36;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: #ffd700;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #ffd319;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #ffdf00;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: #ff3800;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ff901f;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color:	#00ced1;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}

/* Default button style */
.pad {
  color: white; /* White text */
  padding: 15px 32px; /* Padding inside the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* No underline on text */
  display: inline-block; /* Allow setting dimensions */
  font-size: 16px; /* Text size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Mouse cursor as pointer */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.1s; /* Smooth transition for background color and transform */
}

/* Button hover state */
.pad:hover {
  background-color: transparent; /* Darker green background on hover */
}

/* Button active state (when clicked) */
.pad:active {
  background-color: #c1cac2; /* Even darker green background when active */
  transform: translateY(2px); /* Slight push down effect */
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}